@model SGT.Models.UpdateTarefasViewModel
@{
}
<h1>Mudar o status da tarefa para Em Progresso</h1>
<form method="post" action="ViewEmProgresso" class="mt-5">

    <button type="submit" class="btn btn-primary">Submit</button>
</form>