@model SGT.Models.UpdateUsuarioViewModel
@{
}
<h1>Editar Usuário</h1>
<form method="post" action="View" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label" style="width:44px">Id</label>
        <input type="text" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Nome</label>
        <input type="text" asp-for="Nome">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">e-mail</label>
        <input type="email" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Senha (mínimo de 8 caracteres)</label>
        <input type="text" maxlength="10" minlength="8" required asp-for="Senha">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Admin</label>
        <input type="checkbox" asp-for="Admin">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Usuario">Delete</button>
</form>